@charset "utf-8";

/* bsinessfield */
.tab_container { padding: 100px 0 0; }
.tab_container .tab_btn { text-align: center; }
.tab_container .tab_btn button { transition: font-size 0.5s; font-size: 2rem; cursor: pointer; padding: 0 44px 15px; background: transparent;}

.tab_container .tab_btn button:hover { font-weight: 600; font-size: 2.3rem;}
.tab_container .tab_btn button.active { color: var(--main-color); border-bottom: 4px solid var(--main-color); font-weight: 600; }

@media (max-width: 1024px) {
  .inner { padding: 0 60px;}
  .tab_container .tab_btn button { font-size: 1.8rem; padding: 0 40px 10px;}
  .tab_container .tab_btn button:hover { font-size: 2.1rem;}
}

@media (max-width: 768px) {
  .inner { padding: 0 50px;}
  .tab_container { padding: 80px 0 0; }
  .tab_container .tab_btn button { font-size: 1.6rem; padding: 0 35px 10px;}
  .tab_container .tab_btn button:hover { font-size: 1.9rem;}
.tab_container .tab_btn button.active {  border-bottom: 3px solid var(--main-color);  }
}

@media (max-width : 600px) {
  .inner { padding: 0 40px;}
  .tab_container { padding: 60px 0 0; }
}

@media (max-width: 580px) {
  .inner { padding: 0 20px;}
}

@media (max-width: 480px) {
  .tab_container .tab_btn button { font-size: 1.5rem; padding: 0 30px 10px;}
  .tab_container .tab_btn button:hover { font-size: 1.7rem;}
.tab_container .tab_btn button.active {  border-bottom: 2px solid var(--main-color);  }

}

@media (max-width: 378px) {
  .tab_container .tab_btn button { font-size: 1.2rem; }
  .tab_container .tab_btn button:hover { font-size: 1.4rem;}
}


/* top_txt */
.tab_contents .inner { max-width: 1410px; text-align: center;}
.tab_contents > div:not(:first-child) { display: none;}

h2 { padding-top: 20px; font-size: 6rem; font-weight: 600;}
.sub_tit { display: block; font-size: 3rem; }

@media (max-width: 1024px) {
  h2 {  font-size: 5.5rem; }
  .sub_tit {  font-size: 2.5rem; }
}

@media (max-width: 850px) {
  h2 {  font-size: 5rem; }
  .sub_tit {  font-size: 2.3rem; }
}

@media (max-width: 768px) {
  h2 { font-size: 4.5rem; }
  .sub_tit {  font-size: 2rem; }
}

@media (max-width: 600px) {
  h2 {  font-size: 4rem; }
}

@media (max-width: 520px) {
  h2 {  font-size: 3.5rem; }
  .sub_tit {  font-size: 1.7rem; }
}

@media (max-width: 480px) {
  h2 {  font-size: 3rem; }
  .sub_tit {  font-size: 1.5rem; }
}

@media (max-width: 380px) {
  h2 {  font-size: 2.5rem; }
  .sub_tit {  font-size: 1.4rem; }
}


/* keyword */
.keyword { padding: 50px 0; display: flex; gap: 56px; justify-content: center;}
.keyword li { width: 155px ; height: 55px; font-size: 2.5rem; padding: 8px 0; border-radius: 30px; transition: background-color 0.1s, color 0.1s; border: 2px solid var(--point-color); }
.keyword li.active { background-color: var(--point-color); color: #fff; }

/* slide */
.swiper .swiper-slide > a {  display: inline-block; position: relative; border-radius: 50px; overflow: hidden; }
.swiper .swiper-slide > a::before { content: "";  position: absolute; top: 0; left: 0;  width: 100%;  height: 100%;  background: rgba(0, 0, 0, 0.5);  z-index: 1; }
.swiper .swiper-slide > a > img { display: block; width: 1000px; max-width: 100%; height: auto; transition: all 0.3s ease-in-out;  display: block;  object-fit: cover; }

.swiper .swiper-slide > a .list_txt { position: absolute; left: 4vw ; top: 3vw; text-align: left; color: #fff; z-index: 2;}
.swiper .swiper-slide > a .list_txt .company { font-size: 4rem; line-height: 1.2;  padding-bottom: 10px;}
.swiper .swiper-slide > a .list_txt .kind { font-size: 6rem; font-weight: 700; line-height: 1.2;}

.swiper .swiper-pagination-bullet { background: rgba(255, 255, 255, 0.5); opacity: inherit; }
.swiper .swiper-pagination-bullet-active { background: var(--point-color) ; width: 30px; border-radius: 5px ;}

@media (max-width: 1100px) {
  .keyword { padding: 40px 0; gap: 50px;}
  .keyword li { width: 140px ; height: 50px; font-size: 2.3rem; padding: 6px 0; }

  .swiper .swiper-slide > a { border-radius: 45px;}
  .swiper .swiper-slide > a .list_txt .company { font-size: 3rem; }
  .swiper .swiper-slide > a .list_txt .kind { font-size: 5rem;}
}

@media (max-width: 850px) {
  .keyword { padding: 35px 0; gap: 45px;}
  .keyword li { width: 130px ; height: 45px; font-size: 2rem; }
  .swiper .swiper-slide > a { border-radius: 40px;}
  .swiper .swiper-slide > a .list_txt .company { font-size: 2.5rem; }
  .swiper .swiper-slide > a .list_txt .kind { font-size: 4.5rem;}
}

@media (max-width: 768px) {
  .keyword { padding: 30px 0; gap: 30px;}
  .keyword li { width: 110px ;  height: 35px; font-size: 1.5rem; border: 1px solid var(--point-color);}
  .swiper .swiper-slide > a { border-radius: 35px;}
  .swiper .swiper-slide > a .list_txt .company { font-size: 2rem; }
  .swiper .swiper-slide > a .list_txt .kind { font-size: 4rem;}
  
}

@media (max-width: 650px) {
  .keyword { padding: 30px 0; gap: 10px;}
  .keyword li { width: 100px ;  height: 35px; font-size: 1.4rem;}
  .swiper .swiper-slide > a .list_txt .company { font-size: 1.7rem; }
  .swiper .swiper-slide > a .list_txt .kind { font-size: 3.5rem;}
}

@media (max-width: 480px) {
  .keyword { padding: 30px 0; gap: 5px;}
  .keyword li { width: 90px ; font-size: 1.2rem; height: 30px; padding: 5px 0;}
  .swiper .swiper-slide > a { border-radius: 30px;}
  .swiper .swiper-slide > a > img { width: 100%;}
  .swiper .swiper-slide > a .list_txt { left: 6vw ; top: 5vw; }
  .swiper .swiper-slide > a .list_txt .company { font-size: 1.5rem; }
  .swiper .swiper-slide > a .list_txt .kind { font-size: 3rem;}

  .swiper .swiper-pagination-bullet-active { width: 25px; border-radius: 5px ;}
}

@media (max-width: 350px) {
  .keyword { padding: 20px 0; }
  .keyword li { width: 60px ; font-size: 0.9rem; height: 25px; padding: 5px 0;}
  .swiper .swiper-slide > a { border-radius: 20px;}

  .swiper .swiper-slide > a .list_txt .company { font-size: 1.2rem; }
  .swiper .swiper-slide > a .list_txt .kind { font-size: 2.5rem;}

  .swiper .swiper-pagination-bullet-active { width: 20px; border-radius: 5px ;}
}


/* effect */
h3 { font-size: 4rem; font-weight: 700;  text-align: left; padding: 100px 0 60px;}
.effect { display: flex; gap: 30px; }
.effect > li { width: calc(100% / 4); margin: 0 auto; position: relative; perspective: 1200px; /* 1200px 거리에서 보는 움직임 시점 */ }

.effect > li .first { padding: 88px 0; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); border-radius: 22px; }
.effect > li .first img { display: block; margin: 0 auto; }
.effect > li .first span { font-weight: 300 ; display: block; padding-top: 30px;}
.effect > li .first p { color: var(--sub-color); padding-top: 10px; font-size: 2.5rem; font-weight: 700 ;}
.effect > li .hover { background: rgba(40, 112, 160, 0.1); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 1; padding: 0 20px; margin: 0 auto; border-radius: 22px; 
  display: flex; align-items: center; justify-content: center; flex-direction: column; } 

.effect > li .hover span { font-weight: 300 ; display: block; }
.effect > li .hover p { padding-top: 10px; font-size: 2rem; font-weight: 700 ;}

/* 회전하는 부분 */
.effect > li > div { backface-visibility: hidden; transition: 1s;}
.effect > li .hover {transform: rotateY(180deg);}
.effect > li:hover .first { transform: rotateY(-180deg);}
.effect > li:hover .hover { transform: rotateY(0deg);}

@media (max-width: 1300px) {
  .effect > li .first { padding: 60px 10px; height: 420px;} 
  .effect > li .first img { height: 200px;}
  .effect > li .first p { font-size: 2.3rem; }
  .effect > li .hover p { font-size: 1.8rem;}
}

@media (max-width: 1100px) {
  h3 { font-size: 3.7rem; padding: 90px 0 55px; }
  .effect { gap: 20px; }
  .effect > li .first { padding: 40px 10px;; height: 400px;} 
  .effect > li .first img { height: 180px;}
  .effect > li .first p { padding-top: 10px; font-size: 2rem; }

  .effect > li .hover p { font-size: 1.8rem;}
  .effect > li .hover p > br { display: none;}
}

@media (max-width: 1024px) {
  h3 { padding: 80px 0 50px; }
  .effect  { flex-wrap: wrap; justify-content: center;}
  .effect > li .first { padding: 30px 10px; height: 350px;} 
  .effect > li { width: 45%;}
}

@media (max-width: 850px) {
  .effect > li .first { height: 300px;} 
  .effect > li .first img { height: 130px;}
  .effect > li .first span {  padding-top: 20px;}

  .effect > li .hover span {  font-size: 1.4rem;}
  .effect > li .hover p { font-size: 1.7rem;}
}

@media (max-width: 768px) {
  h3 { font-size: 3.5rem;  padding: 70px 0 45px; }
  .effect > li .first { padding: 40px 10px; height: 250px;} 
  .effect > li .first img { height: 100px;}
  .effect > li .first span {  padding-top: 10px;}
  .effect > li .first p { padding-top: 0px;  }

  .effect > li .hover { padding: 0 10px;}
  .effect > li .hover span {  font-size: 1.3rem;}
  .effect > li .hover p { font-size: 1.6rem;}
}


@media (max-width: 620px) {
  h3 { font-size: 3rem; }
  .effect > li .first { padding: 30px 5px; height: 200px;} 
  .effect > li .first img { height: 80px;}
  .effect > li .first span {  font-size: 1.4rem;}
  .effect > li .first p { font-size: 1.9rem;  }

  .effect > li .hover { padding: 0 5px;}
  .effect > li .hover span {  font-size: 1.2rem; line-height: 1.2;}
  .effect > li .hover p { font-size: 1.5rem; line-height: 1.2;}
}

@media (max-width: 580px) {
  h3 { font-size: 2.5rem;  padding: 60px 0 40px; }
  .effect { gap: 10px; }
  .effect > li { width: 48%;}
  .effect > li .first img { height: 70px;}
}

@media (max-width: 540px) {
  h3 { font-size: 2rem;  padding: 60px 0 30px; }
  .effect > li .first { padding: 25px 5px; height: 190px;} 
  .effect > li .first img { height: 65px;}
  .effect > li .first p { font-size: 1.7rem;  }
}

@media (max-width: 450px) {
  h3 { padding: 60px 0 20px; }
  .effect > li .first { height: 170px;} 
  .effect > li .first img { height: 55px;}
  .effect > li .first span {  font-size: 1.2rem;}
  .effect > li .first p { font-size: 1.5rem;  }

  .effect > li .hover span {  font-size: 1.1rem;}
  .effect > li .hover p { font-size: 1.4rem;  }
}

@media (max-width: 378px) {
  .effect { gap: 10px; }
  .effect > li .first {  height: 150px;} 
  .effect > li .first p { font-size: 1.3rem; font-weight: 600;  }
  .effect > li .first span {  font-size: 1rem;}

  .effect > li .hover span {  font-size: 0.9rem;}
  .effect > li .hover p { font-size: 1rem; font-weight: 600;  }

}

/* description */
.description { padding-top: 100px ; display: flex;}

.description .de_txt:nth-child(1) { background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../images/businessfield/description1.png) no-repeat center center;  }
.description .de_txt:nth-child(2) {  background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),  url(../images/businessfield/description2.png) no-repeat center center; }

.description .homepage:nth-child(1) {  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../images/businessfield/description3.png) no-repeat center center;  }
.description .homepage:nth-child(2) {  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../images/businessfield/description4.png) no-repeat center center;  }

.description .de_txt { color: #fff; text-align: left; width: 1920px; height: 46vw;}
.description .de_txt .box { padding: 17.5vw 7.9vw; }
.description .de_txt dt { font-size: 5rem; font-weight: 500; line-height: 1.2;}
.description .de_txt dd { font-size: 1.7rem; padding-top: 30px;}

/* keypoint */
.keypoint { padding-top: 60px; text-align: center; font-size: 2.5rem; padding-bottom: 100px; margin: 0 20px;}
.keypoint span { font-size: 3rem; font-weight: 500; color: var(--main-color);}

@media (max-width: 1400px) {
  .description .de_txt { height: 600px;}
  .description .de_txt .box { padding: 230px 100px; }
  .description .de_txt .box dd > br { display: none;}
  .description .de_txt dt { font-size: 3.7rem;}
  .description .de_txt dd { padding-top: 20px;}
}

@media (max-width: 1100px) {
  .description .de_txt { height: 500px;}
  .description .de_txt .box { padding: 190px 70px; }
  .description .de_txt dt { font-size: 3.5rem; }
  .description .de_txt dd { padding-top: 15px;}

  .keypoint { font-size: 2.2rem; padding-bottom: 90px;}
  .keypoint span { font-size: 2.7rem; }
}

@media (max-width: 900px) {
  .description .de_txt { height: 450px;}
  .description .de_txt .box { padding: 150px 50px; }
  .description .de_txt dt { font-size: 3rem; }

  .keypoint > br { display: none;}
  .keypoint span { font-size: 2.5rem; }
}

@media (max-width: 850px) {
  .description { display: block; }
  .description .de_txt { width: 100%; height: 500px;}
  .description .de_txt .box { padding: 200px 100px; }

  .keypoint { padding-top: 50px; font-size: 2rem; padding-bottom: 80px;}
  .keypoint span { font-size: 2.3rem; }
}

@media (max-width: 768px) {
  .description { padding-top: 80px ;}
  .description .de_txt { height: 400px;}
  .description .de_txt .box { padding: 150px 80px; }
  .description .de_txt dt { font-size: 2.5rem; }
  .description .de_txt dd { font-size: 1.5rem; padding-top: 10px;}

  .keypoint { font-size: 1.8rem; }
  .keypoint span { font-size: 2.1rem; }
}

@media (max-width: 600px) {
  .description .de_txt .box { padding: 150px 70px; }
}

@media (max-width: 500px) {
  .description .de_txt .box { padding: 140px 60px; }
}


@media (max-width: 480px) {
  .description { padding-top: 60px ;}
  .description .de_txt { height: 350px;}
  .description .de_txt .box { padding: 120px 60px; }

  .keypoint { padding-top: 40px; font-size: 1.7rem; padding-bottom: 60px;}
  .keypoint span { font-size: 2rem; }
}

@media (max-width: 400px) {
  .description .de_txt .box { padding: 110px 50px; }
  .description .de_txt dt { font-size: 2.3rem; }
  .description .de_txt dd { font-size: 1.4rem; }
  .keypoint { font-size: 1.5rem; }
  .keypoint span { font-size: 1.7rem; }
}

@media (max-width: 350px) {
  .description .de_txt { height: 300px;}
  .description .de_txt .box { padding: 90px 40px; }
  .description .de_txt dt { font-size: 2rem; }
  .description .de_txt dd { font-size: 1.3rem; }

  .keypoint { font-size: 1.2rem; }
  .keypoint span { font-size: 1.5rem; }
}

