@charset "utf-8";

:root{
  --main-font : 'Pretendard', sans-serif;
  --font-color : #101010;
  --main-color : #004E81;
  --sub-color : #2870A0;
  --point-color : #F0A550;
}

body { overflow-x: hidden; line-height: 1.5; font-size: 1.5rem; font-family: var(--main-font); color: var(--font-color);}
button, button * { font-family: inherit; }
.inner { max-width: 1740px; margin: 0 auto; padding: 0 20px;}

/* header */
#header { z-index: 10; background: var(--sub-color); color: #fff; padding: 40px 0; position: relative;}
#header .inner { max-width: 1760px; display: flex; justify-content: space-between; align-items: center;}
#header .gnb { display: flex;  gap: 30px; }
#header .gnb > li { position: relative; text-align: center; font-size: 1.6rem; overflow: visible; }

#header .gnb > li::before{ transition: all 0.5s; opacity: 0; content: ""; display: block; width: 6px; height: 6px; background: var(--point-color); border-radius: 50%; position: absolute; left: calc(50% - 4px); top: -15px;}
#header .gnb > li:hover::before { opacity: 1; transform: translateY(15px);}

#header .gnb li a { display: block; padding: 10px 0;}

/* depth2 */
#header .gnb > li .depth2 { display: none; position: absolute ;  z-index: 12;  width: 500px; left: -207px;}
#header .gnb > li:nth-child(2) .depth2 { transform: translateX(-5px);}
#header .gnb > li:nth-child(3) .depth2 { transform: translateX(-9px);}
#header .gnb > li:nth-child(4) .depth2 { transform: translateX(-135px);}


#header .gnb > li .depth2 li { display: inline-block; }
#header .gnb > li .depth2 li a { padding: 0 14px;  transition: all 0.5s; text-align: center; display: block; padding-top: 10px; font-size: 1.4rem;}

#header.active .gnb > li .depth2 li a { color: #fff;}
#header .gnb > li .depth2 li:hover a { font-weight: 600 ; color: var(--point-color);}

#header .depth2_bg { display: none; position: absolute; left: 0; width: 100%; height: 40px; background: var(--main-color); z-index: 11;}

/* 모바일 ham버튼 */
#header .ham { z-index: 100; display: none; position: relative; width: 30px; height: 30px; background: transparent; font-size: 0; cursor: pointer; }
#header .ham::before { transition: all 0.5s; position: absolute; left: 0; top: 8px; content: ""; display: block; width: 100%; height: 3px; background: #fff; }
#header .ham::after { transition: all 0.5s; position: absolute; left: 0; bottom: 8px; content: ""; display: block; width: 100%; height: 3px; background: #fff; }

#header.active { background: var(--sub-color);} 
#header .ham.active::before { transform: translate(0,5.5px) rotate(45deg);  }
#header .ham.active::after { transform: translate(0,-5.5px)  rotate(-45deg); }


/* mgnb */
.mgnb_wrap { display: none; width: 100%; height: 100%; background: var(--font-color); position: fixed; left: 0; top: 0; margin : 120px 0; padding: 0 20px;}

.mgnb_wrap .mgnb > li { font-size: 2.5rem; padding: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.3);  }
.mgnb_wrap .mgnb > li > a { pointer-events: none;}
.mgnb_wrap .mgnb li .mdepth2 { display: none;}
.mgnb_wrap .mgnb li .mdepth2 > li { font-size: 2rem; padding: 10px 20px 0px ;}


@media (max-width : 1024px) {
  #header .gnb { display: none;}
  #header .ham { display: block;}
  #header .global { display: none;}
  #header.active { background: var(--font-color);} 
}

@media (max-width : 500px) {
  .mgnb_wrap .mgnb > li { font-size: 2.2rem; padding: 17px; }
  .mgnb_wrap .mgnb li .mdepth2 > li { font-size: 1.7rem}
}

@media (max-width : 400px) {
  #header { padding: 20px 0;}
  .mgnb_wrap { margin: 85px 0;}
}

@media (max-width : 350px) {
  #header { padding: 10px 0;}
  #header h1 > a > img{ width: 120px ;}

  .mgnb_wrap { margin: 64px 0;}
  .mgnb_wrap .mgnb > li { font-size: 2rem; padding: 15px; }
  .mgnb_wrap .mgnb li .mdepth2 > li { font-size: 1.5rem}
}

/* footer */
#footer { background: var(--font-color); color: #fff;}
#footer .inner { padding: 50px 20px; max-width: 1760px; display: flex; gap: 65px; }
#footer .footer_txt li { font-size: 1.3rem;}
#footer .footer_txt li:not(:nth-child(7)) { padding-bottom: 20px;}
#footer .footer_txt .copy { padding-top: 40px; color: rgba(255, 255, 255, 0.5) ; font-size: 1.2rem  ;}

@media (max-width : 1024px) {
  #footer .inner { display: block; text-align: center;}
  #footer .footer_logo { padding-bottom: 30px;}
  #footer .footer_txt li:not(:nth-child(7)) { padding-bottom: 9px;}
  #footer .footer_txt .copy { padding-top: 20px;}
}

@media (max-width : 500px) {
  #footer .inner { padding: 40px 20px;}
  #footer .footer_logo { padding-bottom: 20px;}
  #footer .footer_logo > img { width: 140px;}
  #footer .footer_txt li { font-size: 1.2rem;}
  #footer .footer_txt .copy { padding-top: 10px; font-size: 1.1rem;}
}

@media (max-width : 400px) {
  #footer .inner { padding: 30px 20px;}
  #footer .footer_logo > img { width: 130px;}
}

/********************* gotop ************************/
.gotop { width: 45px; height: 45px; background: linear-gradient(150deg, #004E81, #2870A0, #F0A550); display: flex; align-items: center; justify-content: center; border-radius: 50%; cursor: pointer; position: fixed; border: none; right: 60px; bottom: 60px; }
.gotop .arrow path { fill: white;}
.gotop .text {  font-size: 1rem;  width: 100px;  position: absolute;  color: white;  display: flex;  align-items: center;  justify-content: center;  bottom: -18px;  opacity: 0;  transition-duration: .7s;}
.gotop:hover .text {  opacity: 1;  transition-duration: .7s;}
.gotop:hover .arrow {  animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

@media (max-width : 1024px) {
  .gotop { right: 50px; bottom: 50px;}
}

@media (max-width : 768px) {
  .gotop { right: 40px; bottom: 40px;}
}

@media (max-width : 500px) {
  .gotop { right: 30px; bottom: 30px;}
}

@media (max-width : 400px) {
  .gotop { right: 20px; }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

