/* 포트폴리오 페이지 공통 스타일 */
html {
  font-size: 62.5%; /* 16px × 0.625 = 10px */
}

body {
    font-family: 'Pretendard', sans-serif;
    padding: 0;
  }
 
  #portfolio {
    max-width: 1320px;
    margin: 0 auto;
  }

  h2 { 
    font-weight: 600; 
    font-size: 6rem; 
} 

  
  /* 포트폴리오 타이틀 */ 
  .portfolio_title { text-align: center;}
  .portfolio_title h2 { margin-top: 100px; margin-bottom: 40px;}
  .portfolio_title p { font-size: 2.9rem; color: #595959; padding-bottom: 130px;}
  


  /* 필터 메뉴 */
  .filter_menu { 
    max-width: 600px;
    display: flex;
    justify-content: center; 
    gap: 80px; margin: 0 auto; 
    border-bottom: 2.5px solid #D9D9D9; /* 밑줄 */
    padding-bottom: 10px; }

  .filter_menu button { 
    background: none; border: none; all: unset;  cursor: pointer; 
    font-size: 2rem; transition: color 0.3s ease; 
    font-weight: 500; position: relative; }

/* 파란 밑줄 */
.filter_menu button::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 13vw !important;
  height: 2.5px;
  background-color: transparent;
  transform: translateX(-50%);
  transition: width 0.2s linear, background-color 0.2s linear;
}

/* 호버 시 */
.filter_menu button:hover {
  color: #004e81;
}


/* 활성화된 버튼 */
.filter_menu button.active {
  color: #004e81;
}

.filter_menu button.active::after {
  width: 100%;
  background-color: var(--active-color, #004e81);
}

  
  

  /* 포트폴리오 (ul)*/
  .portfolio_item { display: grid; grid-template-columns: repeat(3, 1fr); gap: 25px; padding-top: 100px; max-width: 1320px; margin: 0 auto; list-style: none; padding-left: 0; }
  
  /* 포트폴리오 (li) */
  .portfolio_item .portfolio_list {
    position: relative;
    overflow: hidden;
    border-radius: 0 25px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.74);
    display: flex;
    flex-direction: column;
    height: 280px;
    align-items: center;
    padding-top: 0;
  }

  /* 포트폴리오 링크 */
.portfolio_item .portfolio_list a {
  display: block;
  text-decoration: none;
  color: inherit;
}

  /* 이미지 */
  .portfolio_item .portfolio_list img {
    width: 100%;
    height: 280px;
  }
  
  /* 오버레이 */
  .portfolio_item .portfolio_list .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #FAFAFA;
    width: 100%;
    height: 100%;
    text-align: left;
    opacity: 1; /* 처음에는 숨김 */
    visibility: visible; /* 보이지 않도록 설정 */
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  /* 호버 효과 */
  .portfolio_item .portfolio_list:hover .overlay {
    opacity: 0;
    visibility: hidden;
   }
  .portfolio_item .portfolio_list .overlay .overlay_txt {
    position: absolute; top: 100px;
    padding-left: 30px;
  }
  .portfolio_item .portfolio_list .overlay .overlay_txt h3 {
    font-size: 2.2rem;
    font-weight: 800;
    padding-bottom: 8px;
  }
  .portfolio_item .portfolio_list .overlay .overlay_txt p {
    font-size: 1.6rem;
    font-weight: 500;
  } 

/* 숨김 처리 클래스 */
.hidden {
  display: none !important;
}

  /* skill */
  .portfolio_list .skill {
    position: absolute; bottom: 20px; 
    padding-left: 30px;
    display: flex; flex-wrap: wrap;
    gap: 8px;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .portfolio_list .skill > li {
    border-radius: 15px;
    border: 1px solid #FDFDFD;
    padding: 1px 5px 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  /* system */
  .portfolio_list .overlay .system {
    position: absolute; top: 15px; right: 15px;
    font-size: 2.6rem;
    font-weight: 600;
   /*  border: 2px solid #FDFDFD; border-radius: 25px; */
    padding: 2px 16px 3px;
  }


  
  .portfolio_item .portfolio_list:hover img {
    transform: scale(1);
  }
  
/* 페이지네이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  gap: 10px;
  font-size: 1.6rem;
}

.pagination a, .current-page {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  color: #101010;
  font-weight: bold;
}

.pagination a:hover {
  color: #101010;
}


  /* 프로젝트 문의 섹션 */
  .contact {
    padding-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    align-items: center;
  }
  
  .contact h4 {
    font-size: 4.2rem;
    margin-bottom: 33px;
    font-weight: 700;
  }
  
  .contact .contact_txt {
    font-size: 2.5rem;
    color: #6B7280;
    font-weight: 400;
    margin-bottom: 73px;
  }
  
  .contact_button {
    padding: 23px 44px 27px;
    font-size: 2.5rem;
    background: #101010;
    color: #FAFAFA;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.5s;
  }
  
  .contact_button:hover {
    background: #0056b3;
  }


  /* 반응형 디자인 */
  @media screen and (max-width: 1920px) {
    .portfolio_item {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 1024px) {
    .portfolio_item { grid-template-columns: repeat(2, 1fr); padding-top: 80px; }
    h2 { font-size: 5rem; }
    .portfolio_title p { font-size: 2.5rem; padding-bottom: 80px;}
    .portfolio_item .portfolio_list .overlay .overlay_txt h3 {
      font-size: 2.1rem;}
    .portfolio_item .portfolio_list .overlay .overlay_txt p {
        font-size: 1.5rem;}
    .filter_menu { width: 500px; gap: 60px; }
    .filter_menu button { font-size: 1.8rem; }
    .portfolio_list .overlay .system { font-size: 2.2rem; }
    .contact { margin-top: 80px;}
    .contact h4 { font-size: 3.5rem; margin-bottom: 27px; }
    .contact .contact_txt { font-size: 2rem;  margin-bottom: 60px; }
    .contact_button { padding: 18px 35px 21px; font-size: 2rem; }
    .portfolio_title h2 { margin: 80px 0 40px; }
  }

  @media (max-width : 768px) {
    .portfolio_item { padding-top: 60px; }
    .portfolio_title h2 { margin: 60px 0 30px; }
    .portfolio_title p {  padding-bottom: 60px;}
    .contact { padding-bottom: 80px;}
  }

  @media (max-width : 500px) {
    .portfolio_item { grid-template-columns: repeat(1, 1fr);  padding-top: 40px; }
    .portfolio_title h2 { margin: 60px 0 10px;}
    h2 { font-size: 4rem; }
    .portfolio_title p { font-size: 1.7rem; padding-bottom: 40px;}
    .portfolio_title p span { display: inline; }
    .portfolio_item .portfolio_list .overlay .overlay_txt h3 {
      font-size: 1.8rem;}
    .portfolio_item .portfolio_list .overlay .overlay_txt p {
        font-size: 1.4rem;}
    .filter_menu {  width: 350px; gap: 30px; }
    .filter_menu button { font-size: 1.3rem; }
    .portfolio_list .overlay .system { font-size: 2rem; }
    .contact { margin-top: 50px; }
    .contact h4 { font-size: 3rem; margin-bottom: 0; }
    .contact .contact_txt { font-size: 1.7rem;  margin-bottom: 50px; }
    
  }
  
  @media (max-width : 420px) {
    .portfolio_item {
      grid-template-columns: repeat(1, 1fr);
    }
    .contact h4 { font-size: 2.5rem; }
    .contact .contact_txt { font-size: 1.5rem; }
    .contact_button { padding: 15px 30px 18px; font-size: 1.7rem; }
    .filter_menu { 
      max-width: 300px;
    }
  }
  
  @media (max-width : 350px) {
    .portfolio_item {
      grid-template-columns: repeat(1, 1fr);
    }
    .filter_menu { 
      max-width: 260px;
    }
  }