@charset "utf-8";
/* 공통 */
h3 { font-size: 4rem; font-weight: 700; padding-bottom: 25px; text-align: center; }
h3 .e_tit { font-size: 3rem; font-weight: 300;}
h4 { font-size: 2.5rem; font-weight: 500; }
h4 > span { font-size: 2rem;}

@media (max-width: 1300px) {
  .inner { padding: 0 30px;}
}
 
@media (max-width: 1200px) {
  .inner { padding: 0 40px;}
  h4 { font-size: 2.3rem; }
  h4 > span { font-size: 1.7rem;}
}
 
@media (max-width: 1100px) {
  .inner { padding: 0 50px;}
  h3 { font-size: 3.7rem;  }
  h3 .e_tit { font-size: 2.7rem; }
  h4 { font-size: 2rem; }
  h4 > span { font-size: 1.5rem;}
}

@media (max-width: 1024px) {
  .inner { padding: 0 60px;}
  h4 { font-size: 1.7rem; }
  h4 > span { font-size: 1.4rem;}
}

@media (max-width: 768px) {
  .inner { padding: 0 50px;}
  h3 { font-size: 3.5rem; padding-bottom: 20px;  }
  h3 .e_tit { font-size: 2.5rem; }
}

@media (max-width : 600px) {
  .inner { padding: 0 40px;}
  h3 { font-size: 3rem; padding-bottom: 15px; }
  h3 .e_tit { font-size: 2rem; }
  h4 { font-size: 1.5rem; }
  h4 > span { font-size: 1.3rem;}
}

@media (max-width: 580px) {
  .inner { padding: 0 20px;}
  h3 { font-size: 2.5rem; padding-bottom: 10px;  }
}

@media (max-width: 480px) {
  h3 { font-size: 2rem;}
  h3 .e_tit { font-size: 1.4rem; }
}


/* tit */
.tit { padding-top: 100px; text-align: center;}
h2 { font-size: 6rem;  font-weight: 600; }
.sub_tit { display: block; font-size: 3rem; }

@media (max-width: 1024px) {
  .tit { padding-top: 90px;}
  h2 {  font-size: 5.5rem; }
  .sub_tit {  font-size: 2.5rem; }
}

@media (max-width: 850px) {
  h2 {  font-size: 5rem; }
  .sub_tit {  font-size: 2.3rem; }
}

@media (max-width: 768px) {
  .tit { padding-top: 80px;}
  h2 { font-size: 4.5rem; }
  .sub_tit {  font-size: 2rem; }
}

@media (max-width: 600px) {
  .tit { padding-top: 60px;}
  h2 {  font-size: 4rem; }
}

@media (max-width: 520px) {
  h2 {  font-size: 3.5rem; }
  .sub_tit {  font-size: 1.7rem; }
}

@media (max-width: 480px) {
  .tit { padding-top: 40px;}
  h2 {  font-size: 3rem; }
  .sub_tit {  font-size: 1.5rem; }
}

@media (max-width: 380px) {
  h2 {  font-size: 2.5rem; }
  .sub_tit {  font-size: 1.4rem; }
}

/* overview */
.overview { padding: 40px 0 100px ;}
.overview .overview_box { padding: 70px 100px; max-width: 1200px; border: 1px solid  var(--font-color); margin: 0 auto;  }
.overview h3 { text-align: left;}
.overview .top { display: flex; justify-content: center; gap: 30px;}
.overview .top .txt > li { font-size: 1.7rem;}
.overview .top .txt > li:not(:last-child) { padding-bottom: 15px;}
.overview .top .txt > li .black { font-weight: 700; }

.overview .keyword { padding-top: 33px; display: flex; justify-content: space-between;}
.overview .keyword > li { font-size: 1.5rem; text-align: center; padding: 10px 0; background: var(--point-color); border-radius: 20px; width: 120px;}

@media (max-width: 1200px) {
  .overview .overview_box { padding: 60px 90px; }
}

@media (max-width: 1100px) {
  .overview .overview_box { padding: 40px 80px; }
  .overview .keyword > li { width: 110px; }
}

@media ( max-width : 1024px) {
  .overview { padding: 40px 0 90px ;}
}


@media (max-width: 1000px) {
  .overview .overview_box { padding: 35px 60px; }
  .overview .top .txt > li { font-size: 1.5rem;}
  .overview .keyword > li { padding: 8px 0; width: 100px;}
  .overview .top .txt > li:not(:last-child) { padding-bottom: 10px;}
}

@media (max-width: 900px) {
  .overview .overview_box { padding: 30px 40px; }
  .overview .keyword > li { font-size: 1.4rem; width: 90px;}
}

@media (max-width: 800px) {
  .overview .top { gap: 20px;}
  
  .overview .top { flex-direction: column; align-items: center;  }
  .overview .keyword { padding-top: 25px; flex-wrap: wrap; gap: 30px; justify-content: center;}
}

@media (max-width: 768px) {
  .overview { padding: 40px 0 80px ;}
  .overview .overview_box { padding: 25px 30px; }
  .overview .top { gap: 10px;}
  .overview .keyword { gap: 10px;}
  .overview .keyword > li { font-size: 1.3rem; width: 85px;}
}

@media (max-width: 600px) {
  .overview { padding: 40px 0 60px ;}
}

@media (max-width: 550px) {
  .overview .top { gap: 5px;}
  .overview .overview_box { padding: 20px 25px; }
  .overview .top .txt > li { font-size: 1.4rem;}
  .overview .keyword { padding-top: 15px; gap: 15px; }
}

@media (max-width: 480px) {
  .overview { padding: 40px 0;}
  .overview .top .txt > li { font-size: 1.3rem;}

  .overview .overview_box .sc_img img { width: 100%;}
  .overview .keyword { gap: 15px;}
  .overview .keyword > li { font-size: 1.2rem; width: 75px;}
}

@media (max-width: 360px) {
  .overview .top .txt > li { font-size: 1.2rem;}
 
  .overview .keyword { gap: 10px;}
  .overview .keyword > li { font-size: 1.1rem; width: 65px; padding: 5px 0;}
}

/* key_features */
.key_features .inner { max-width: 1300px; }
.key_features h4 { text-align: center;}
.key_features .swiper-wrapper { display: flex; align-items: stretch; padding: 10px 0 50px ; }
.key_features .swiper-slide { display: flex; gap: 40px; padding: 10px; }
.key_features .swiper-slide > div { padding: 20px 35px ; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ; border-radius: 53px; width: calc((100% - 40px) / 2); height: 570px;}

.key_features .swiper-slide img { display: block; margin: 15px auto;}
.key_features .swiper-slide .txt { list-style-type: disc;}
.key_features .swiper-slide .txt > li { margin-left: 30px; font-size: 1.7rem;}

/* swiper-progressbar */
.swiper-horizontal>.swiper-pagination-progressbar { height: 5px;}
.swiper-pagination-progressbar { top: auto !important; bottom: 0; height: 2px; background: rgba(40, 112, 160, 0.3);  }
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill { background: var(--main-color)  }

/* 반응형 스타일 */
@media (max-width: 1300px) {
  .key_features .swiper-slide img { width: 100%;}
  .key_features .swiper-slide .txt > li { margin-left: 20px; font-size: 1.5rem; }
}

@media (max-width: 1200px) {
  .key_features .swiper-slide { gap: 30px; }
  .key_features .swiper-slide > div { height: 45vw; }
  .key_features .swiper-slide .txt > li { margin-left: 10px; font-size: 1.4rem;}
}

@media (max-width: 1100px) {
  .key_features .swiper-slide { gap: 20px; }
  .key_features .swiper-slide > div { height: 44vw; }
  .key_features .swiper-slide .txt > li { margin-left: 10px; font-size: 1.4rem;}
  .key_features .swiper-slide > div .kf_img { padding: 0 20px;}
}

/* 슬라이드 변형 부분 */
@media (max-width: 1024px) {
  .key_features .swiper-slide { flex-direction: column;}
  .key_features .swiper-slide > div { width: 100%; }
  .key_features .swiper-slide > div { height: 38vw;}
  .key_features .swiper-slide > div .slide_box { display: flex; gap: 20px; padding-top: 20px;}
  .key_features .swiper-slide > div .kf_img { width: 60%;}
  .key_features .swiper-slide img { margin: 0 auto; }
  .key_features .swiper-slide > div .txt { width: 40%;}
  .key_features .swiper-slide .txt li { margin: 0; padding-top: 10px;} 
}

@media (max-width: 768px) {
  .key_features .swiper-wrapper { padding: 10px 0 50px;}
  .key_features .swiper-slide { padding: 0;}
  .key_features .swiper-slide > div { border-radius: 30px; width: 80%; margin: 0 auto; height: 440px; }
  .key_features .swiper-slide > div .slide_box { display: block; padding-top: 10px;}

  .key_features .swiper-slide > div .kf_img { width: 90%; margin: 0 auto;}
  .key_features .swiper-slide > div .txt { width: 100%; padding: 10px 0 10px 10px}
  .key_features .swiper-slide .txt > li { font-size: 1.3rem; padding: 0;}
}

@media (max-width: 630px) {
  .key_features .swiper-slide > div { width: 95%; height: 400px; padding: 20px 30px;}
}
@media (max-width: 550px) {
  .key_features .swiper-slide > div {  height: 380px; }
}

@media (max-width: 400px) {
  .key_features .swiper-wrapper { padding: 10px 0 30px;}
  .key_features .swiper-slide > div { height: 350px; }
}

@media (max-width: 350px) {
  .key_features .swiper-slide > div { height: 310px; padding: 10px 20px; }
}

/* edge_device */
.edge_device { padding: 100px 0;}
.edge_device .inner { max-width: 1200px;}
.edge_device .edge_box { display: flex; gap: 40px; justify-content: center;}

.edge_device .edge_box .edge { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ; border-radius: 53px; padding: 30px 40px; width: calc(100% / 2);  display: flex;  flex-direction: column;} 
.edge_device .edge_box .edge img { margin: 15px 0; border: 1px solid rgba(0, 0, 0, 0.3) ; border-radius: 20px; display: block;}
.edge_device .edge_box .edge .txt { list-style-type: disc;}
.edge_device .edge_box .edge .txt > li { margin-left: 30px; font-size: 1.7rem; }
.edge_device .edge_box .edge .txt > li:not(:last-child) { padding-bottom: 10px;}

@media (max-width: 1024px) {
  .edge_device { padding: 90px 0;}
  .edge_device .edge_box { gap: 30px;}
  .edge_device .edge_box .edge {  padding: 30px 30px; border-radius: 45px;  }
  .edge_device .edge_box .edge img { width: 100%;}
  .edge_device .edge_box .edge .txt > li { margin-left: 20px; font-size: 1.5rem; }
  .edge_device .edge_box .edge .txt > li:not(:last-child) { padding-bottom: 5px;}
}

@media (max-width: 900px) { 
  .edge_device .edge_box .edge {  padding: 20px;  border-radius: 40px;}
}

@media (max-width: 768px) {
  .edge_device { padding: 80px 0;}
  .edge_device .edge_box { flex-wrap: wrap;}
  .edge_device .edge_box .edge { width: 100%; }
  .edge_device .edge_box .edge img { width: auto;}
  .edge_device .edge_box .edge .txt > li { margin-left: 20px; font-size: 1.5rem; }
}

@media (max-width: 600px) {
  .edge_device { padding: 60px 0;}
}

@media (max-width: 550px) {
  .edge_device .edge_box .edge {  padding: 20px 30px; }
  .edge_device .edge_box .edge .txt > li { margin-left: 10px; font-size: 1.4rem; }
  .edge_device .edge_box .edge img { margin: 10px 0;}
  .edge_device .edge_box .edge .txt > li:not(:last-child) { padding-bottom: 0;}
}

@media (max-width: 480px) {
  .edge_device { padding: 40px 0;}
}

/* products */
.products .inner { max-width: 1200px;}
.products .products_box { display: flex; gap: 40px; justify-content: center;}

.products .products_box .product { padding: 30px; border-radius: 53px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ; width: calc(100% / 2); }
.products .products_box .product img { display: block; margin-top: 15px;}

@media (max-width: 1250px) {
  .products .products_box .product img { width: 100%;}
}

@media (max-width: 1024px) {
  .products .products_box { gap: 30px;}
  .products .products_box .product { padding: 25px; border-radius: 45px;  }
}

@media (max-width: 900px) {
  .products .products_box .product{  padding: 20px;  border-radius: 40px;}
}

@media (max-width: 768px) {
  .products .products_box  { flex-wrap: wrap;}
  .products .products_box .product { width: auto;  padding: 40px; }
}

@media (max-width: 550px) {
  .products .products_box .product {  padding: 30px; }
  products .products_box .product img { margin-top: 15px; }
}

/* business_card */
.business_card { padding-top: 100px ;}
.business_card > img { display: block; width: 100%; }
.business_card > img:last-child { display: none;}

@media (max-width : 1024px) {
  .business_card { padding: 90px 0;}
  .business_card > img { display: block; width: auto; margin: 0 auto; border-radius: 30px;  }
  .business_card > img:first-child { display: none;}
  .business_card > img:last-child { display: block; box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.2) ; }
}

@media (max-width: 768px) {
  .business_card { padding: 80px 0;}
}
@media (max-width: 660px) {
  .business_card { margin: 0 50px;}
  .business_card > img { width: 100%; }
 }

@media (max-width: 600px) {
  .business_card { padding: 60px 0; margin: 0 40px;}
}

@media (max-width: 480px){
  .business_card {  padding: 40px 0; margin: 0 40px;}
}

@media (max-width: 378px) {
  .business_card { margin: 0 20px;}
}