
html, body {
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: #101010;
}

.inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}


/* portfolio_title section */
.portfolio_title h2 {
  font-size: 6rem;
  font-weight: 700;
  text-align: left;
  display: flex;  
  margin: 100px 0 90px 0;
  align-items: center;
}

.portfolio_title h2::before {
  content: "";
  display: inline-block;       
  width: 10px;                  
  height: 1em;                 
  background-color: #007BFF;  
  margin-right: 20px;          
  transform: translate(center)
}

.portfolio_title p {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 700;
  color: #676767;
  margin-bottom: 5px;
}

.portfolio_title .sub_txt {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 600;
  color: #999999;
  margin-bottom: 100px;
}


/* 프로젝트 개요 section */
.overview {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1320px;
  margin-bottom: 10px;
}

.portfolio_img {
  flex: 1;
}

.portfolio_img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.overview_box {
  flex: 1; /* 동일한 비율로 크기 조정 */
  margin: 0 0 0 10px;
  padding: 30px 0 20px 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.overview_box h3 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 30px;
}

.overview_box dl {
  list-style: none;
}

.overview_box dl dt {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.overview_box dl dd {
  width: 80%;
  font-size: 1.5rem;;
  margin-bottom: 20px;
  font-weight: 500; 
  color: #464646;       
}

dt.function ~ dd {
  margin-bottom: 7px;
}

/* 요구사항 */
.requirements_box {
  flex: 1;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 160px;
}

.requirements_box h3{
  font-size: 2.8rem;
  font-weight: 900;
  margin: 160px auto 50px;
}

.requirements_ul {
  font-size: 2rem;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

.requirements_ul li {
  display: flex;
  align-items: flex-start; 
  background: #F7F8FA;
  border-radius: 25px;
  margin-bottom: 25px;
  padding: 25px 95px;
  gap: 10px
}

/* 체크 기호 */
.requirements_ul i {
  flex-shrink: 0;
  color: #101010; 
  margin-right: 8px; 
  font-size: 1.9rem;
  font-weight: 900;
  margin-top: 5px;
}

strong {
  font-weight: 800;
  color: #101010;
  display: inline-block;
  margin-right: 3px;
}



/* our solution */
.solution_section {
  text-align: center;
  position: relative;
  padding: 0 0 50px 0;
}

/* 타이틀 */
.solution_title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 70px;
}

/* 컨테이너 */
.solution_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-bottom: 160px;
  gap: 30px;
}

.solution_box {
  flex: 1;
  width: 98%; /* 박스가 가로 전체를 차지 */
  text-align: center; /* 텍스트 가운데 정렬 */
  background-color: #fff; /* 박스 배경색 */
  border: 1px solid #ddd; /* 테두리 */
  border-radius: 8px; /* 둥근 모서리 */
  padding:  40px 70px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05); /* 그림자 */
}

.solution_header {
  position: relative;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px; /* As-is, To-be 양옆 여백 */
}

.to_be .solution_header {
  margin-bottom: 80px;
}


.solution_header h3 {
  display: inline-block;
  position: relative;
  padding: 0 20px; /* 양옆 여백 */
  font-size: 3.6rem;
  font-weight: 700;
  background-color: #fff; /* 선 위를 가리기 위한 배경색 */
  z-index: 1;
  white-space: nowrap;
}

.to_be .solution_header h3 {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 0 20px;
  white-space: nowrap;
}


.solution_box ul {
  list-style: none;
  padding: 0;
}

.solution_box li {
  font-size: 2.1rem;
  margin-bottom: 70px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  gap: 6px;
}


/* To-be 강조 */
.solution_box.to_be h3 {
  color: #007BFF;
}
.to_be li {
  color: #007BFF;
  font-weight: 400;
  font-size: 2.1rem;
}


.to_be li strong {
  color: #007BFF;
  font-weight: 600;
}

/* 중앙 화살표 */
.solution_arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  background-color: #004E81;
  color: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}


.solution_arrow i {
  font-size: 4rem;
}


/* ui 화면 section*/
.ui_screen {
  margin-bottom: 200px;
  text-align: center;
  max-width: 1320px;
}

.ui_screen h3 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}


/* Swiper 래퍼 */
.swiper-wrapper {
  display: flex;
}

/* Swiper 슬라이드 */
.swiper-slide {
  width: auto; /* 이미지 크기에 맞춤 */
  text-align: center;
  flex-shrink: 0;
}

.ui_screen_gallery img {
  width: 100%;
  max-width: 415px; /* ui 화면 각 이미지 크기 */
  border-radius: 8px;
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Swiper 컨테이너 */
.ui_screen_gallery {
  width: 100%;
  max-width: 1320px;
  overflow: hidden;
  margin: 0 auto;
 
}

.ui_screen {
  position: relative;
}

/* Pagination (도트) */
.swiper-pagination {
  position: absolute;
  bottom: -40px !important;
  text-align: center;
}



/* 프로젝트 갤러리 */
.project_gallery {
  display: flex; /* 가로 정렬 */
  flex-direction: column;
  overflow: hidden; /* 2개 초과 아이템 숨기기 */
  max-width: 1320px;
  margin: 0 auto;
}
.project_gallery h3 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 800;
  text-align: center;
}

.project_header {
  position: relative;

}

.view_more {
  position: absolute;
  top: 7px;
  right: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 15px 2px 0;
  color: #010101;
  text-decoration: none;
  border-bottom: 2px #000 solid;
  transition: ease 0.3s;
}

/* 반쪽 화살표 */
.view_more::before {
  content: "";
  position: absolute;
  right: 3px; /* 화살표 위치 조정 */
  bottom: -2px;
  width: 0.2px;
  height: 8px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-radius: 15%;
  transform: rotate(-45deg); /* 반쪽 화살표 만들기 */
  transition: ease 0.3s;
}
.view_more::before:hover {
  border-bottom: 2px solid #0056b3;
  border-right: 2px solid #0056b3;
}

.view_more:hover {
  color: #0056b3;
  border-bottom: 2px #0056b3 solid;
}

  .portfolio_item { 
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px; 
    margin: 0 auto; 
    list-style: none; 
    padding-left: 0;
    justify-content: center;
    overflow: hidden; /* 숨겨진 썸네일이 보이지 않도록 */
  }
  
  /* 포트폴리오 (li) */
  .portfolio_item .portfolio_list {
    flex: 1 0 calc(33.33% - 20px); /* 기본 3개 배치 */
    position: relative;
    overflow: hidden;
    border-radius: 0 25px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.74);
    padding-top: 0;
  }

  /* 포트폴리오 링크 */
.portfolio_item .portfolio_list a {
  display: block;
  text-decoration: none;
  color: inherit;
}

  /* 이미지 */
  .portfolio_item .portfolio_list img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* 오버레이 */
  .portfolio_item .portfolio_list .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #FAFAFA;
    width: 100%;
    height: 100%;
    text-align: left;
    opacity: 1; /* 처음에는 숨김 */
    visibility: visible; /* 보이지 않도록 설정 */
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  /* 호버 효과 */
.portfolio_item .portfolio_list:hover .overlay {
  opacity: 0;
  visibility: hidden;
 }

 .portfolio_list .overlay_txt {
    position: absolute; top: 100px;
    padding-left: 30px;
  }
  .portfolio_list .overlay_txt h4 {
    font-size: 2.2rem;
    font-weight: 800;
    padding-bottom: 8px;
    color: #FAFAFA;
  }
  .portfolio_list .overlay_txt p {
    font-size: 1.6rem;
    font-weight: 500;
  } 

  /* skill */
  .portfolio_list .skill {
    position: absolute; bottom: 20px; 
    padding-left: 30px;
    display: flex; flex-wrap: wrap;
    gap: 8px;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .portfolio_list .skill > li {
    border-radius: 15px;
    border: 1px solid #FDFDFD;
    padding: 1px 5px 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  /* system */
  .portfolio_list .overlay .system {
    position: absolute; top: 15px; right: 20px;
    font-size: 2.6rem;
    font-weight: 600;
  }


/* 프로젝트 문의하기 */
.contact_section {
  padding: 100px 20px 0;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 100px;
}

.contact_section h3 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contact_section p {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 50px;
}

.contact_btn {
  padding: 14px 30px 16px;
  background-color: #004E81;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color ease 0.5s;
}

.contact_btn:hover {
  background-color: #0974e6;
}

#footer { 
 margin: 0;}

/* ===== 반응형 1252 ===== */
@media (max-width: 1252px) {
  .portfolio_list .overlay_txt {
    top: 85px;
    padding-left: 30px;
  }
  .portfolio_list .overlay_txt h4 {
    font-size: 2rem;
  }
  .portfolio_list .overlay_txt p {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .portfolio_list .skill {
    bottom: 10px;
    font-size: 1rem;
    
  } 
  .portfolio_list .skill > li {
   padding-bottom: 2px;
   padding: 0 5px 0;
  }
}

/* ===== 반응형 1024 ===== */
@media (max-width: 1024px) {
  .ui_screen { margin-bottom: 140px; }
  .solution_section { padding: 0 0 25px 0;}

  .inner {
    max-width: 1020px;
    padding: 0 20px;
  }
  .portfolio_title h2{
    font-size: 4rem;
     margin: 90px 0 60px 0;
  }
  .portfolio_title h2::before {
  content: "";
  display: inline-block;       
  width: 8px;                  
  height: 1em;                  
  margin-right: 10px;          
}

.portfolio_title p {
  font-size: 1.5rem;
  margin-bottom: 1px;
}
.portfolio_title .sub_txt {
  font-size: 1.5rem;
  margin-bottom: 60px;
}
.portfolio_img img { /* 왼쪽 이미지 */
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.portfolio_img { /* 왼쪽 이미지 */
  flex: 1;
}
.overview_box {
  margin-left: 15px;
}

.overview_box h3 {
  font-size: 2.4rem;
  margin-bottom: 30px;
}
.overview_box dl dt {
  font-size: 1.7rem;
  margin-bottom: 5px;
}

.overview_box dl dd {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500; 
  color: #464646;       
}
dt.function ~ dd {
  margin-bottom: 5px;
}

.requirements_box {
  margin-bottom: 100px;
}
.requirements_box h3{
  margin: 100px auto 30px;
}
.requirements_ul { /* 요구사항 작은 글자 */
  font-size: 1.6rem;
}
.requirements_ul li {
  padding: 15px 95px;
}
/* 체크 기호 */
.requirements_ul i {
  margin-right: 0px; 
  font-size: 1.6rem;
  margin-top: 3px;
}

/* 솔루션 타이틀*/
.solution_title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.solution_header h3 {
  font-size: 2.8rem;
  font-weight: 700;
  background-color: #fff; /* 선 위를 가리기 위한 배경색 */
  z-index: 1;
  white-space: nowrap;
}

.to_be .solution_header h3 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0 20px;
  white-space: nowrap;
}
.solution_header { 
  margin-bottom: 50px; /* As-is */
  display: flex;
  align-items: center;
  justify-content: center;
}
.to_be .solution_header {
  margin-bottom: 50px;
}

/* 컨테이너 */
.solution_container {
  gap: 30px;
  margin-bottom: 100px;
}

.solution_box li {
  font-size: 1.4rem;
  margin-bottom: 35px;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.to_be li {
  color: #007BFF;
  font-weight: 700;
  font-size: 1.4rem;
}
/* 중앙 화살표 배경 */
.solution_arrow {
  width: 70px;
  height: 70px;
}
/* 중앙 화살표 */
.solution_arrow i {
  font-size: 3.8rem;
}

/* ui 화면 section*/
.ui_screen {
  margin-bottom: 180px;
  max-width: 1024px;
}
.ui_screen h3 {
  font-size: 2.4rem;
  margin-bottom: 40px;
}

.ui_screen_gallery img {
  width: 100%;
  max-width: 315px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
 }

/* 프로젝트 갤러리 */
  .portfolio_item { 
    gap: 15px; max-width: 1024px; 
    padding-left: 0;
  }

.project_gallery h3 {
  font-size: 2.4rem;
}

.view_more {
  font-size: 1.1rem;
}
 .portfolio_list .overlay_txt {
    position: absolute; top: 65px;
    padding-left: 20px;
  }
  .portfolio_list .overlay_txt h4 {
    font-size: 2rem;
    font-weight: 800;
  }
  .portfolio_list .overlay_txt p {
    font-size: 1.2rem;
    font-weight: 500;
  }

    .portfolio_list .skill {
    bottom: 15px; 
    gap: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 20px;
  }
  
  .portfolio_list .skill > li {
 padding: 0 5px 1px;
  }

 .portfolio_list .overlay .system {
    top: 13px; right: 20px;
    font-size: 2.1rem;
    font-weight: 600;
  }

  /* 프로젝트 문의하기 */
.contact_section {
  padding: 80px 20px 0;
  margin-bottom: 80px;
}
.contact_section h3 {
  font-size: 2.4rem;
  margin-bottom: 30px;
}

.contact_section p {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 50px;
}
.contact_btn {
  padding: 14px 30px 16px;
  background-color: #004E81;
  color: #fff;
  border: none;
  font-size: 1.4rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

}

/*=====반응형 935=====*/
@media (max-width: 935px) {
  .portfolio_list .overlay_txt h4 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 5px;
  }
  .portfolio_list .overlay_txt p {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .portfolio_list .skill {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .portfolio_list .overlay_txt {
    top: 40px;
  }
  .portfolio_list .overlay_txt h4 {
    padding-bottom: 10px;
  }
  .portfolio_list .skill {
    display: none;
  }
  .portfolio_list .overlay .system {
    font-size: 1.7rem;
  }
  
.solution_box {
  padding: 30px 50px;
}

.solution_box li {
  margin-bottom: 30px;
}
.solution_header {
 margin-bottom: 30px; 
}
.to_be .solution_header  {
  margin-bottom: 30px; 
 }
}

/*=====반응형 811=====*/
@media (max-width: 811px) {
  .overview_box dl dt {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .overview_box dl dd {
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: 500;       
  }
  dt.function ~ dd {
    margin-bottom: 5px;
  }
  .requirements_box h3{
    font-size: 2.5rem;
  }
  .requirements_ul { /* 요구사항 작은 글자 */
    font-size: 1.4rem;
  }
  .requirements_ul li {
    padding: 15px 65px;
    border-radius: 35px;
  }
  /* 체크 기호 */
.requirements_ul i {
  font-size: 1.4rem;
}

/* 솔루션 타이틀*/
.solution_title {
  font-size: 3rem;
}
.solution_header h3 {
  padding: 0 15px; /* 양옆 여백 */
  font-size: 2.4rem;
}
.requirements_box h3 {
  margin: 80px auto 20px;
 }

.to_be .solution_header h3 {
  font-size: 2.4rem;
}

.ui_screen_gallery img {
  width: 100%;
  max-width: 246px;
}
.portfolio_list .overlay_txt {
  top: 55px;
}
.portfolio_list .overlay .system {
  top: 10px; right: 20px;
  font-size: 1.9rem;
  font-weight: 500;
}

.contact_section {
  padding: 60px 20px 0;
  margin-bottom: 60px;
}
.contact_section h3 {
  font-size: 2.1rem;
}
.contact_btn {
  padding: 12px 28px 14px;
}
}


/* ====반응형 739==== */
@media (max-width: 739px) {
  .ui_screen { margin-bottom: 100px; }
  .solution_section { padding: 0;}
  .requirements_box { margin-bottom: 80px; }
  .overview {
    flex-wrap: wrap;
    flex-direction: column; /* 기본 가로 정렬 유지 */
    max-width: 739px;
    width: 100%;
  }
  .portfolio_img {
    width: 100%;
  }
  
  .portfolio_img img {
    width: 100%;
    height: auto;
  }
  
  .overview_box {
    flex: 1;
    width: 100%;
    margin: 0;
    padding: 30px 0 20px 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

   /* requirements_ul 리스트 아이템 */
   .requirements_ul li {
    display: flex;
    align-items: flex-start; /* 세로 정렬 */
    gap: 5px;
    margin-bottom: 20px;
  }
    /* 체크 아이콘 */
    .requirements_ul li i {
      align-items: flex-start;
      font-size: 1.5rem;
      margin-top: 5px; /* 텍스트와 수직 정렬 */
    }
  .requirements_ul li strong {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  /* 나머지 설명 텍스트 */
  .requirements_ul li {
    font-size: 1.4rem;
    line-height: 1.5;
  }
    /* 텍스트 컨테이너 */
    .requirements_ul li .text-content {
      display: flex;
      flex-direction: column;
    }

    /* 솔루션 섹션 */
    .solution_container {
      flex-direction: column; /* 세로 정렬 */
      align-items: center; /* 가운데 정렬 */
      gap: 5px; /* 위아래 간격 */
      position: relative;
      border-bottom: none;
    }
      /* 화살표 회전 및 크기 축소 */
   .solution_arrow {
    position: static;
    bottom: 0;
    transform: rotate(90deg) scale(0.8); /* 회전 및 크기 줄이기 */
    margin: 20px 0; /* 위아래 간격 추가 */
  }
  
    .solution_box {
      width: 98%; /* 박스가 가로 전체를 차지 */
      text-align: center; /* 텍스트 가운데 정렬 */
      background-color: #fff; /* 박스 배경색 */
      border: 1px solid #ddd; /* 테두리 */
      border-radius: 8px; /* 둥근 모서리 */
      padding:  40px 20px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05); /* 그림자 */
    }

    .solution_header h3 {
      font-size: 4vw;
    }
    
    .to_be .solution_header h3 {
      font-size: 4vw;
  }
  .solution_box li {
    font-size: 2.9vw;
  }
    .solution_header::before {
      display: none;
    }
    /* 중앙 선 숨기기 */
    .solution_container::after {
      display: none;
    }

  .portfolio_list .overlay_txt {
    top: 60px;
  }
  .portfolio_list .overlay_txt h4 {
    font-size: 3vw;
    font-weight: 600;
  }
  .portfolio_list .overlay_txt p {
    width: 40vw;
    font-size: 1.4rem;
    }
    .portfolio_list .overlay_txt br {
      display:  none;
      }
    .portfolio_list .overlay .system {
      top: 8px; right: 20px;
      font-size: 1.5rem;
      font-weight: 500;
    }
    .ui_screen_gallery img {
      width: 100%;
      max-width: 223px; /* ui 화면 각 이미지 크기 */
    }
}


  @media (max-width: 685px) {
    .portfolio_list .overlay_txt h4 {
      font-size: 1.6rem;
    }
    .portfolio_title h2 {
      font-size: 6vw;
    }
    .portfolio_list .overlay_txt p {
      width: 38vw;
      font-size: 2vw;
      }
  }

@media (max-width: 559px) {
    .responsive-br {
      display: none;
    }
    .solution_title {
      font-size: 5vw;
    }
    .solution_header h3 {
      font-size: 4vw;
    }
    
    .to_be .solution_header h3 {
      font-size: 4vw;
  }
  .solution_box li {
    font-size: 3vw;
  }
  .solution_box {
    width: 100%; /* 박스가 가로 전체를 차지 */
    padding: 20px 0;
  }

  .portfolio_list .overlay_txt {
    top: 50px;
  }
}
 
/* ====반응형 500====*/
@media (max-width: 500px) { 
  .contact_section h3 { margin-bottom: 15px; }
  .contact_section p { margin-bottom: 30px;}
  .requirements_box { margin-bottom: 60px; }
  .requirements_box h3 { margin: 60px auto 20px;}
  .project_gallery h3 {  margin-bottom: 30px; }

  .portfolio_list .overlay_txt {  top: 75px;  padding-left: 20px;}
  .portfolio_list .overlay_txt h4 {  font-size: 2.5rem;  font-weight: 800;}
  .portfolio_list .overlay_txt p {  width: 85%;  font-size: 1.5rem;  font-weight: 400;}
  .portfolio_list .skill {  display: block;  display: flex;  bottom: 20px;   gap: 8px;  font-size: 1rem;}
  .portfolio_list .overlay .system {  font-size: 2rem; font-weight: 600;}
  .requirements_ul li { padding: 15px 25px !important;  border-radius: 100px !important;}
}

/* ====반응형 450====*/
@media ( max-width : 450px ) {
  .portfolio_list .overlay_txt h4 { padding-bottom: 0; }
  .portfolio_list .overlay_txt { top: 45px; }
  .portfolio_list .overlay_txt p { width: 100%; }
  .view_more { display: none; }
  .requirements_ul li .text-content { font-size: 1.2rem; }
  .requirements_ul li strong { font-size: 1.4rem; }
}

/* ====반응형 396====*/
@media (max-width: 396px) {
  .solution_box { width: 100%; /* 박스가 가로 전체를 차지 */ padding: 20px 20px;}
  .solution_header h3 { font-size: 5vw;}
  
  .to_be .solution_header h3 {  font-size: 5vw; }
  .solution_box li { font-size: 3.5vw; }

  .portfolio_list .skill {  bottom: 27px;   gap: 8px;  font-size: 0.8rem;}
  .portfolio_list .overlay_txt {  padding-left: 20px;}
  .portfolio_list .overlay_txt h4 {  font-size: 2rem;  font-weight: 700;}
  .portfolio_list .overlay_txt p {  font-size: 1.3rem;  font-weight: 400;}
}