@charset " utf-8";

/* title */
.title .inner { max-width: 800px;}
.title h2 { font-size: 4.5rem; text-align: center; padding:100px 0 10px;}


@media(max-width:1024px){
  .title h2 { font-size: 4rem; padding: 30px 0 0px; }
}

@media(max-width:500px){
  .title h2 { font-size:3rem; }
  
}

@media(max-width:400px){ 
  .title h2 { font-size:2rem; }
}


#main { text-align: center;}
.tit span { display: inline-block; border: 0.8px solid #191919; width:90%; }
.tit h4 { font-weight: 500; font-size: 2.5rem; padding: 18px 0 0; word-break: keep-all;}
.tit .date { padding:  0 0 1rem; color: #999;}

@media(max-width:600px){
  .tit h4 { font-size: 2rem; }
}

@media(max-width:500px){

  .tab-menu > li a { font-size: 1.5rem;}
  .tit h4 { font-size: 1.5rem; padding: 11px 0 0; }
  .tit .date {font-size: 1.3rem;  padding: 0;}
  .txt p { font-size: 1.5rem; padding: 50px 0 70px;}
  .btn { padding: 5px 35px; font-size: 1.5rem; }
}

@media(max-width:402px){
  .tab-menu { padding: 20px;}
  .tab-menu > li a { font-size: 1.35rem;}
  .tit h4 { font-size: 1.3rem; }
  
}


.notice_img { padding: 20px 0 0 0; max-width: 800px;}
.notice_img img { width: 70%;} 
.txt p { font-size: 1.4rem; line-height: 2; padding:40px 60px 60px;  word-break: keep-all; text-align: left; }


@media(max-width:500px){
  .notice_img { padding: 10px 0 0 0; }
  .txt p { font-size: 1.3rem; padding: 25px 20px 50px }
}


.btn {
  color: #191919;
  padding: 10px 50px;
  font-size: 1.8rem;
  border-radius: 30px;
  background: #e8e8e8;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
  
  .btn:hover {
    color: #fff;
    background: #2d4f97;
 /*    background-image: linear-gradient(25deg, #161572, #2d4f97, #3189bc, #17c7e2);   */
    font-weight: 500;
    /* font-size: 2rem; */
  }
  
  .btn:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }

  @media(max-width:1024px){
    .btn { padding: 5px 40px; font-size: 1.5rem;}
  }


  @media(max-width:500px){
    .btn { padding: 5px 35px; font-size: 1.3rem;}
  }


#footer { margin-top: 100px;}