@charset " utf-8";


.title .inner { max-width: 800px;}
.title h2 { font-size: 4.5rem; text-align: center; padding:100px 0 10px;}


@media(max-width:1024px){
  .title h2 { font-size: 4rem; padding: 30px 0 30px; }
}

@media(max-width:500px){
  .title h2 { font-size:3rem; padding-bottom: 10px; }
  .txt { font-size: 1.8rem; line-height: 2; padding: 30px 0 4px; } }

@media(max-width:400px){ 
  .title h2 { font-size:2rem; }
}


#main { text-align: center;}
.tit span { display: inline-block; border: 1px solid #191919; width:90%; }
.tit h4 { font-weight: 500; font-size: 2.5rem; padding: 18px 0 0; word-break: keep-all;}
.tit .date { padding:  0 0 1rem; color: #999;}

@media(max-width:600px){
  .tit h4 { font-size: 2rem; }
}

@media(max-width:500px){
  .tit h4 { padding: 11px 0 0; }
  .tit .date {font-size: 1.3rem;  padding: 0;}
  .txt p { font-size: 1.5rem; padding: 50px 0 30px;}
  .btn { padding: 5px 35px; font-size: 1.5rem; }
}

@media(max-width:402px){
  .tit h4 { font-size: 1.3rem; }
}


.notice_img { padding: 20px 0 0 0; max-width: 800px;}
.notice_img img { width: 70%; padding-top: 15px;} 


.txt p { font-size: 1.4rem; line-height: 2; padding:40px 60px 60px;  word-break: keep-all; text-align: left; }

@media(max-width:500px){
  .notice_img { padding: 10px 0 0 0; }
  .txt p { font-size: 1.3rem; padding: 25px 20px 50px }
}


.press_img { max-width: 600px; margin: 0 auto; padding: 50px 0 0;}
.press_img img {width: 100%; display: block; }
.news_link { padding-top: 30px;}
.txt { font-size: 1.8rem; line-height: 2; padding:30px 0 40px;  word-break: keep-all; text-align: left;}

.cta { position: relative; margin: auto; padding: 12px 18px; transition: all 0.2s ease; border: none; background: none; cursor: pointer; }

.cta:before { content: ""; position: absolute; top: 8px; left: 0; display: block; border-radius: 50px; background: #F0A550; width: 35px; height: 35px; transition: all 0.3s ease;}

.cta span { position: relative; font-size: 18px; font-weight: 700; letter-spacing: 0.05em; color: #234567; }

.cta svg { position: relative; top: 0; margin-left: 10px; fill: none; stroke-linecap: round; stroke-linejoin: round; stroke: #234567; stroke-width: 2; transform: translateX(-5px); transition: all 0.3s ease; }

.cta:hover:before { width: 100%; background: #F0A550; }

.cta:hover svg { transform: translateX(0); }

.cta:active { transform: scale(0.95); }


@media(max-width:500px){
  .cta span {font-size: 1.5rem;}
  .cta:before { top: 5px; }
}


.btn { color: #191919; padding: 10px 50px; font-size: 1.8rem; border-radius: 30px; background: #e8e8e8; cursor: pointer;  transition: all 0.3s; box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; }

.btn:hover {  color: #fff; background: #2d4f97; font-weight: 500; }

.btn:active { box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;}

@media(max-width:1024px){
  .btn { padding: 1px 40px; font-size: 1.5rem;}
}


@media(max-width:500px){
  .btn { padding: 5px 35px; font-size: 1.3rem;}
}

#footer { margin-top: 100px;}